body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.app {
  text-align: center;
  padding-top: 50px;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.weather-card {
  margin: 30px auto;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  background: #1e293b;
} 